.socialMediaIcons {
  display: flex;
  gap: 2vw;
}

.socialMediaIcons a {
  color: black;
  font-size: 30px;
}

.socialMediaIcons a:hover {
  color: #9c89c8fa;
}

.viewProjectButton {
  font-size: clamp(9px, 1vw, 1vw);
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  padding: 7px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.viewProjectButton:hover {
  background-color: #9c89c8fa;
  border: 2px solid #9c89c8fa;
  color: white;
}

.whiteLineSVG {
  position: absolute;
  transform: translate(-158px, 915px);
}
.lineArt {
  position: absolute;
  right: 5%;
  z-index: 2;
}

@media (max-width: 1000px) {
  .lineArt {
    display: none;
  }
}
