.container {
  display: flex;
  padding-top: 75px;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 840px;
}

.introduction {
  margin-right: 45vw;
  margin-bottom: 5vw;
  left: 10%;
}

.aboutContainer {
  background-color: black;
  height: 502px;
}

.aboutMe {
  color: white;
  padding: 9vw;
  margin-right: 12vw;
}

.projectContainer {
  margin: 7vw;
  margin-right: 25vw;
}

@media (max-width: 1000px) {
  .introduction {
    margin-right: 0;
  }
  .container {
    height: 59.3vw;
  }

  .projectContainer {
    margin-right: 7vw;
  }
  .aboutContainer {
    height: fit-content;
  }
}
