body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(40px, 6.67vw, 96px);
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 0.1;
}

h2 {
  font-size: clamp(18px, 6.67vw, 64px);
  font-weight: 300;
  letter-spacing: -1px;
}

h3 {
  font-size: clamp(15px, 6.67vw, 24px);
  font-weight: 300;
}

h4 {
  font-size: clamp(15px, 6.67vw, 18px);
  font-weight: 300;
  line-height: 2rem;
}

h5{
  font-size: clamp(12px, 6.67vw, 18px);
  font-weight: 300;
  line-height: 1.5rem;
}
